---
import Component from "../components/Component.astro";
import Experience from "../components/experience/index.astro";
import { EXPERIENCE } from "../data/experience";
// import { SOCIALS } from "../data/socials";
import Layout from "../layouts/Layout.astro";
import { site } from "../consts";
import Image from "astro/components/Image.astro";
import amanzade from "../assets/y-amanzade.jpg"

---

<Layout title={`${site.name} - ${site.description}`}>
  <div class="relative hero z-10">
    <div
      class="mx-auto min-h-screen max-w-screen-2xl px-6 py-12 font-sans md:px-12 md:py-20 lg:px-24 lg:py-0"
    >
      <div class="lg:flex lg:justify-between lg:gap-4">
        <header
          class="lg:sticky lg:top-0 lg:flex lg:max-h-screen lg:w-1/2 lg:flex-col lg:justify-between lg:py-24"
        >
          <div
            class="flex lg:items-start gap-4 flex-col lg:flex-row items-center text-center lg:text-right"
          >
            <Image src={amanzade} alt={site.name} class="w-16 h-16 rounded-full" />
            <div>
              <a
                href="/"
                class="text-4xl/normal lg:text-5xl/normal block font-bold tracking-tight bg-clip-text text-transparent bg-gradient-to-b from-neutral-50 to-neutral-400 bg-opacity-50"
              >
                <h1>{site.name}</h1>
              </a>
              <h2 class="mt-2 text-sm lg:text-lg font-medium text-neutral-400">
                {site.description}
              </h2>

              <a
                data-ccursor
                href="tel:+989117500206"
                class="inline-flex transition-all border-neutral-700 hover:border-opacity-0 border-opacity-50 shadow rounded-md border backdrop-blur-xl bg-neutral-400/10 px-3 py-2.5 items-center text-white font-semibold group p-2 text-sm gap-x-2 mt-4"
              >
                <span>تماس با من</span>
                <sapn
                  class="w-2 h-2 rounded-full bg-green-400 duration-1000 animate-pulse"
                >
                </sapn>
              </a>
              <a
                data-ccursor
                href="https://instagram.com/yousef_amanzadeh91"
                class="inline-flex transition-all border-neutral-700 hover:border-opacity-0 border-opacity-50 shadow rounded-md border backdrop-blur-xl bg-neutral-900/10 px-3 py-2.5 items-center text-white font-semibold group p-2 text-sm gap-x-2 mt-4"
              >
                <span>اینستاگرام من</span>
                
                </sapn>
              </a>
            </div>
          </div>

          <!-- {
            SOCIALS.length && (
              <ul
                class="mt-8 flex items-center justify-center lg:justify-normal gap-x-5"
                aria-label="Social media"
              >
                {SOCIALS.map((social) => (
                  <li class="text-xs p-2 rounded" data-ccursor>
                    <a
                      class="block hover:text-slate-200"
                      href={social.url}
                      target="_blank"
                      rel="noreferrer noopener"
                      aria-label={`${social.name} (opens in a new tab)`}
                    >
                      <span class="sr-only">{social.name}</span>
                      {<Component component={social.icon} />}
                    </a>
                  </li>
                ))}
              </ul>
            )
          } -->
            
        </header>

        <main id="content" class="pt-24 lg:w-1/2 lg:py-24">
          <section
            id="about"
            class="mb-16 scroll-mt-16 md:mb-24 lg:mb-36 lg:scroll-mt-24"
            aria-label="About me"
          >
            <div
              class="sticky top-0 z-20 -mx-6 mb-4 w-screen px-6 py-3 backdrop-blur-lg md:-mx-12 md:px-12 lg:sr-only lg:relative lg:top-auto lg:mx-auto lg:w-full lg:px-0 lg:py-0 lg:opacity-0"
            >
              <h2
                class="text-xl font-bold uppercase text-neutral-200 lg:sr-only"
              >
                درباره من
              </h2>
            </div>
            <div>
              <div class="mb-4 space-y-4">
                <p>
                  من یوسف امان زاده هستم، مدیر شرکت بازرگانی احمد بنیامین آسیا. کارشناسی ارشد مدیریت بازرگانی از دانشگاه [...] دارم و به شما کمک می کنم تا محصولات تان را از گمرک های ایران ترخیص کنید. 
                </p>

                <p>
                  من و تیم من به صورت تخصصی در گمرک اینچه برون استان گلستان فعالیت می کنیم. همینطور به دیگر گمرکات شمال ایران مانند گمرک لطف آباد و گمرک سرخس استان خراسان صادرات نیز دسترسی داریم. 
                </p>
                <p>
                  در این گمرک ها ما در پروسه واردات محصولات از کشورهای ترکمنستان، ازبکستان، قزاقستان، تاجیکستان، روسیه، چین و سایر کشور های آسیایی به شما یاری می دهیم. 
                </p>
                <p>
                  برای دریافت مشاوره در مورد ترخیص بار از گمرک های یاد شده می توانید با من تماس بگیرید. 
                </p>
              </div>
            </div>
          </section>

          <!-- <section
            id="gallery"
            class="mb-16 scroll-mt-16 md:mb-24 lg:mb-36 lg:scroll-mt-24"
            aria-label="گالری تصاویر"
          >
          <div
              class="sticky top-0 z-20 -mx-6 mb-4 w-screen px-6 py-3 backdrop-blur-lg md:-mx-12 md:px-12 lg:sr-only lg:relative lg:top-auto lg:mx-auto lg:w-full lg:px-0 lg:py-0 lg:opacity-0"
            >
              <h2
                class="text-xl font-bold uppercase text-neutral-200 lg:sr-only"
              >
                گالری تصاویر
              </h2>
            </div>
            
            <div>
              

              
            </div>
        </section> -->

          
          <!-- <section
            id="experience"
            class="mb-16 scroll-mt-16 md:mb-24 lg:mb-36 lg:scroll-mt-24"
            aria-label="Work experience"
          >
            <div
              class="sticky top-0 z-20 -mx-6 mb-4 w-screen px-6 py-3 backdrop-blur-lg md:-mx-12 md:px-12 lg:sr-only lg:relative lg:top-auto lg:mx-auto lg:w-full lg:px-0 lg:py-0 lg:opacity-0"
            >
              <h2
                class="text-sm font-bold uppercase tracking-widest text-neutral-200 lg:sr-only"
              >
                Experience
              </h2>
            </div>
            
            <div>
              <ol class="group/list space-y-12">
                {EXPERIENCE.map((experience) => <Experience {...experience} />)}
              </ol>

              <div class="mt-12">
                <a
                  data-ccursor
                  class="inline-flex items-center leading-tight text-neutral-200 font-semibold group p-2 rounded px-3"
                  aria-label="View Full Résumé"
                  target="_blank"
                  rel="noreferrer noopener"
                  href="./resume.pdf"
                >
                  <span>
                    <span
                      class="border-b border-transparent pb-px transition group-hover:border-neutral-300 motion-reduce:transition-none"
                    >
                      View Full
                    </span>
                    <span class="whitespace-nowrap">
                      <span
                        class="border-b border-transparent pb-px transition group-hover:border-neutral-300 motion-reduce:transition-none"
                      >
                        Résumé
                      </span>
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        class="ml-1 inline-block h-4 w-4 shrink-0 -translate-y-px transition-transform group-hover:translate-x-2 group-focus-visible:translate-x-2 motion-reduce:transition-none"
                        aria-hidden="true"
                        ><path
                          fill-rule="evenodd"
                          d="M3 10a.75.75 0 01.75-.75h10.638L10.23 5.29a.75.75 0 111.04-1.08l5.5 5.25a.75.75 0 010 1.08l-5.5 5.25a.75.75 0 11-1.04-1.08l4.158-3.96H3.75A.75.75 0 013 10z"
                          clip-rule="evenodd"></path></svg
                      ></span
                    ></span
                  ></a
                >
              </div>
            </div>
          </section>  -->
          <!-- <footer class="max-w-md pb-16 text-sm text-neutral-500 sm:pb-0">
            <p>
              طراحی شده در
              <a
                href="https://www.figma.com/"
                class="font-medium text-neutral-400 hover:text-red-300 focus-visible:text-red-300 hover:underline"
                target="_blank"
                rel="noreferrer">Figma</a
              >
              برنامه نویسی شده در
              <a
                href="https://code.visualstudio.com/"
                class="font-medium text-neutral-400 hover:text-red-300 focus-visible:text-red-300 hover:underline"
                target="_blank"
                rel="noreferrer">Visual Studio Code</a
              >
              توسط 
              
            </p>

          </footer> -->
        </main>
      </div>
    </div>
  </div>

  <footer class="text-center py-10 text-xs">
    {new Date().getFullYear()} تمام حقوق محفوظ است. <a
    href="https://daynetcafe.ir/"
    class="font-medium text-neutral-400 hover:text-red-300 focus-visible:text-red-300 hover:underline"
    target="_blank"
    rel="noreferrer">کافی نت دی</a
  >
  </footer>
</Layout>

<style scoped>
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .hero {
    background-image: url(/pattern.svg);
    background-position: top center;
    background-repeat: no-repeat;
    overflow-y: visible;
    overflow-x: clip;
  }

  /*
  .hero {
    animation: fadeIn 3s;
  }
   */
</style>
